// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$white: #ffffff;
$primary: #28375E;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: $white;
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$link: #3F68CC;
$success: #33A13B;
$warning: #EDAB0C;
$danger: #DE1461;
$text: #202c4b;
$content-heading-color: $text;
$label-color: $text;
$title-color: $text;
$subtitle-color: $text;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link-invert: findColorInvert($link);
$link-focus-border: $link;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.rate .rate-item.set-on .icon, .rate .rate-item.set-half .is-half {
  color: #ffd970;
}
